.color{
    color: #c1f4f4;
    color: #8ce8f2;
    color: #82efed;
    color: #56e3c7;
    color: #737c63;
}
.color2{
    color: #8fdfa4;
    color: #35d061;
    color: #0dd159;
}
.color3{
    color:#c2b3a3;
    color:#a49581;
    color: #ab9477;
    color: #775f3f;
    color: #5a4326;
}
.colortest{
    color: #100404;
}